## Voorbereiding

Allereerst gaan we een Python packages installeren welke niet standaard binnen de Colab omgeving zijn geïnstalleerd. Deze gaan we installeren via het package management system **`pip`**.  Als volgt:

```python
!pip install <package_name>
```


---



We installeren `geopandas`.

In [ ]:
!pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/d7/bf/e9cefb69d39155d122b6ddca53893b61535fa6ffdad70bf5ef708977f53f/geopandas-0.9.0-py2.py3-none-any.whl (994kB)
     |████████████████████████████████| 1.0MB 4.9MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/11/1d/1c54c672c2faf08d28fe78e15d664c048f786225bef95ad87b6c435cf69e/pyproj-3.1.0-cp37-cp37m-manylinux2010_x86_64.whl (6.6MB)
     |████████████████████████████████| 6.6MB 15.9MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Collecting fiona>=1.8
  Downloading https://files.pythonhosted.org/packages/9c/fc/9807326c37a6bfb2393ae3e1cca147aa74844562c4d5daa782d6e97ad2bc/Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4MB)
     |████████████████████████████████| 15.4MB 183kB/s
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from pyproj>=2.2.0->geopandas) (2021.5.30)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.0.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/73/86/43fa9f15c5b9fb6e82620428827cd3c284aa933431405d1bcf5231ae3d3e/cligj-0.7.2-py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Installing collected packages: pyproj, click-plugins, munch, cligj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.1.0

Vervolgens gaan we een aantal reeds geinstalleerde Python packages importeren binnen onze notebook. Elk van deze packages bevat een bibliotheek van functies welke we gaan gebruiken in deze workshop.


---

In [ ]:
import json
import requests
import os
from glob import glob
import io
import fiona
import geopandas as gpd
import pandas as pd
import altair as alt

Nu we de juiste Python packages hebben geinstalleerd en geimporteerd kunnen we beginnen met het opzetten van een verbinding naar je Google Drive.

Binnen je Google Drive kan je je eigen datasets plaatsen om te testen en de gevalideerde resultaten wegschrijven.

Dit gaat als volgt:
1. Voer het volgende commando uit.
2. Klik op de URL, dit opent in een nieuw tabblad.
3. Geef toestemming dat je Google Drive gekoppeld mag worden aan je Google Colab.
4. Kopier de code.
5. Plak deze code met ctrl+v in de cel hieronder.
6. Druk op enter


---

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Credentials and settings

Om gebruik te maken van de HyDAMO Validatietool moet je in het bezit zijn van een geactiveerde gebruikersnaam + wachtwoord.

We gaan nu onze login gegevens invullen binnen de twee quotes achter `my_email` en `my_password`

In deze notebook gaan we er van uit dat alle hydamo validatiedata in een map **hydamo_validatietool** staat op de Google drive en deze gelijk in de hoofdmap van Google drive staat.

In [ ]:
# path and settings
my_email = '<mijnemail>'
my_password = '<mijnwachtwoord>'

base_data_dir = './drive/MyDrive/hydamo_validatietool'

server = 'http://34.116.237.119'
fb_key = "AIzaSyAU17otJko594SYoCulCPfXwkHOXQEieXE"
fb_url = 'https://identitytoolkit.googleapis.com/v1'

Vervolgens definieeren we binnen de `base_data_dir` een map `dataset` waarin we alle mappen en bestanden aanmaken voor het uitvoeren van een validatie:
- `filepath_dataset`: een map met de geopackage(s) die moeten worden gevalideerd
- `filepath_output`:  een map waarin de resultaten moeten komen te staan
- `filename_validationrules`: de validatieregels die moeten worden uitgevoerd

In [ ]:
# dataset-directory on your google drive
dataset = 'wrij_winterswijk_eo'

# define dataset dir
set_dir = os.path.join(base_data_dir, dataset)

# list with datasets
filepath_dataset = os.path.join(set_dir, 'data')
filepath_output = os.path.join(set_dir,'output')

# validationrules
filename_validationrules = os.path.join(set_dir, 'ValidationRules.json')

## Server controleren

We zijn klaar om onze eerste call naar de HyDAMO Validatieserver te doen. We gaan als eerst de versie nummers op vragen van de verschillende onderdelen. De onderdelen zijn nu:
- versie van de API
- versie van de Validatie Module
- _later: versie van de website_

In [ ]:
# check server info
print(server)
response_get_server = requests.get(server)
if response_get_server.status_code == 200:
    print(f'get server info: succes')    
else:
    print(f'get server info: failed')      

df_server_info = pd.Series(response_get_server.json()).to_frame().T
df_server_info

http://34.116.237.119
get server info: succes

  version validation_module                  title            description
0   0.3.0             0.1.0  HyDAMO Validationtool  HyDAMO Validationtool

## Opvragen firebase token

Het opvragen van de versienummers van de HyDAMO Validatieserver is toegestaan door iedereen. Maar voor alle andere taken moet je in het bezig zijn van een geldig token. 

Dit token wordt voor een gelimiteerde periode afgegeven op basis van je gedefinieerde gebruikersnaam + wachtwoord. 

Het token zelft wordt afgegeven door Google Firebase.

---

In [ ]:
# request firebase token using the google identitytoolkit
fb_endpoint = f'{fb_url}/accounts:signInWithPassword?key={fb_key}'
data_dict = {'email': my_email, 'password': my_password, 'returnSecureToken': 'true'}

print(fb_endpoint, data_dict)

response_post_token = requests.post(fb_endpoint, data=data_dict)

if response_post_token.status_code == 200:
    print(f'get token: succes')    
else:
    print(f'get token: failed')     

id_token = response_post_token.json()['idToken']
headers = {'Authorization': f"Bearer {id_token}"}
print(headers)

https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=AIzaSyAU17otJko594SYoCulCPfXwkHOXQEieXE {'email': 'hydamo_admin@hkv.nl', 'password': 'hwhadmin#', 'returnSecureToken': 'true'}
get token: succes
{'Authorization': 'Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjhiMjFkNWE1Y2U2OGM1MjNlZTc0MzI5YjQ3ZDg0NGE3YmZjODRjZmYiLCJ0eXAiOiJKV1QifQ.eyJuYW1lIjoiSHlkYW1vIEFETUlOIiwicGljdHVyZSI6Imh0dHBzOi8vY2RuMi5pY29uZmluZGVyLmNvbS9kYXRhL2ljb25zL2Vzc2VudGlhbC13ZWItMi81MC91c2VyLWFkZC1wbHVzLWNyZWF0ZS1hZG1pbi01MTIucG5nIiwicmVhZCI6dHJ1ZSwid3JpdGUiOnRydWUsImFkbWluIjp0cnVlLCJpc3MiOiJodHRwczovL3NlY3VyZXRva2VuLmdvb2dsZS5jb20vdmFsaWRhdGlldG9vbC02ZGY3MSIsImF1ZCI6InZhbGlkYXRpZXRvb2wtNmRmNzEiLCJhdXRoX3RpbWUiOjE2MjU0NzY1NDYsInVzZXJfaWQiOiJ6V0UyTUVjMnNJZjRRVTVMOXpKcmdXenZJWGkyIiwic3ViIjoieldFMk1FYzJzSWY0UVU1TDl6SnJnV3p2SVhpMiIsImlhdCI6MTYyNTQ3NjU0NiwiZXhwIjoxNjI1NDgwMTQ2LCJlbWFpbCI6Imh5ZGFtb19hZG1pbkBoa3YubmwiLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwiZmlyZWJhc2UiOnsiaWRlbnRpdGllcyI6eyJlbWFpbCI6WyJoeWRhbW9fYWRtaW5AaGt2Lm5sIl19LCJzaWduX2luX3Byb3ZpZGVyIjoicGFzc3dvcmQifX0.P_eqRN3xzEHpSD8ouEHL_OW3yWhgMCmKNUIKDYc4WdE_lY8EZitpzYSZanwMa52xv9LtRtp4vBi4Nn7h7ZyCmLhMXt_GCyv8kns5uIwbyyOpuWqly90z0Cbe8NhKbARetusyyKRF-wrur8kHIxse9R8h1Otr9JEXf6HO6GeXH1tKzPNdYd4-AsIU_ik1oWbpDsY27JTNvvDatdkDajh3aSAJ6KrTH7MKImeCrYG_LpwU3f5345WGW9yEJszKXKBcm1UgyypGiAlolm5YFu1BCLuf0n4_YwerNX9XTg40OmRzF3LALOYqsUwhnDhVw4ebFOGhXPp_4bRCJzRAu2dA8Q'}

## Opvragen overzicht van alle taken

De eerste taak die we gaan uitvoeren is het opvragen van de huidige taken die zijn gedefinieerd op de server. 

Als standaard gebruiker kan je enkel je eigen aangemaakte taken zien. Voor administrators is het mogelijk om alle taken in te zien.

---

In [ ]:
# overzicht van alle taken
url_get_tasks = f'{server}/tasks'

print(url_get_tasks)
response_get_tasks = requests.get(url_get_tasks, headers=headers)
if response_get_tasks.status_code == 200:
    print(f'get tasks: succes')    
else:
    print(f'get tasks: failed')        

df_get_tasks = pd.DataFrame().from_dict(response_get_tasks.json())
df_get_tasks

http://34.116.237.119/tasks
get tasks: succes

   id  ...                         owner
0   1  ...  qU3xDwsmRYP9lPt0VGhOr5lczsu2
1   3  ...  zWE2MEc2sIf4QU5L9zJrgWzvIXi2
2   4  ...  zWE2MEc2sIf4QU5L9zJrgWzvIXi2
3   5  ...  zWE2MEc2sIf4QU5L9zJrgWzvIXi2
4   6  ...  zWE2MEc2sIf4QU5L9zJrgWzvIXi2
5   7  ...  zWE2MEc2sIf4QU5L9zJrgWzvIXi2
6   8  ...  zWE2MEc2sIf4QU5L9zJrgWzvIXi2
7  27  ...  8KaluYhTuHYx0SNuZdep9B1NCck2
8  29  ...  6P82fK1ZnUgZIsKG9T0V9vcpDig1
9  31  ...  iCi76nJELob4NYt4eJSt3HXScLo2

[10 rows x 6 columns]

Zoals je ziet zien we een aantal kolommen, namelijk
- `id`: het unieke id van de taak. 
- `name`: de naam die is toegekend door een gebruiker, deze hoeft niet uniek te zijn.
- `status`: dit geeft aan of de taak klaar is om te valideren. Dit hangt af of er data en validatieregels zijn toegekend aan de taak.
- `numberOfDatasets`: het aantal bestanden wat gekoppeld is aan de taak.
- `validationRules`: een True/False of de validatieregels zijn geupload.
- `owner`: een unieke ID, hoe je bekend bent bij de server. Dit ID is gehast.

## Verwijder alle taken

Het volgende commando is uitgecomment. Mocht je foutief een aantal taken hebben aangemaakt, dan kan je deze verwijderen door de volgende code uit te voeren. Voor nu gaan we deze niet uivoeren.

In [ ]:
# # verwijder alle taken
# task_ids = df_get_tasks['id'].tolist()
# for task_id in task_ids:
#     url_delete_task = f'{server}/task/{task_id}'
    
#     print(url_delete_task)
#     response_delete_task = requests.delete(url_delete_task, headers=headers)
#     if response_delete_task.status_code == 200:
#         print(f'delete {task_id}: succes')
#     else:
#         print(f'delete {task_id}: failed')

## Maak een nieuwe taak aan

We gaan onze eigen taak aanmaken!
Definieer een goede naam. Bijvoorbeeld dezelfde naam zoals hierboven gedefineerd onder de parameter `dataset`.

---

In [ ]:
# maak een nieuwe taak aan
task_name = dataset
url_post_task = f'{server}/tasks/{task_name}'

print(url_post_task)
response_post_task = requests.post(url_post_task, headers=headers)
if response_post_task.status_code == 201: # status: created item
    print(f'task created {task_name}: succes')    
else:
    print(f'task created {task_name}: failed')

df_created_task = pd.Series(response_post_task.json()).to_frame().T
df_created_task

http://34.116.237.119/tasks/Daniel_wrsl_test
task created Daniel_wrsl_test: succes

   id              name  ... validationRules                         owner
0  32  Daniel_wrsl_test  ...           False  zWE2MEc2sIf4QU5L9zJrgWzvIXi2

[1 rows x 6 columns]

Zoals je ziet, krijgen we als response terug dat we een nieuwe taak hebben aangemaakt met de `status`: `new`. Daarnaast zien we dat we `0` data hier aan hebben toegekend en er zijn ook nog geen validatie regels (`validationRules` is `False`) gekoppeld.

## Upload datasets met task-id

Laten we nu dus de bestanden uploaden welke we willen valideren. Dit zijn geopackages en zijn opgebouwd volgens het HyDAMO datamodel versie 13. We ondersteunen nu de objecten Stuw, HydroObject, DuikerSifonHevel en AanvoergebiedAfvoergebied.

In [ ]:
# upload datasets met task-id
files_dataset = glob(f'{filepath_dataset}/*')
task_id = df_created_task.id.iloc[0]
url_post_datasets = f'{server}/task/{task_id}/datasets'

print(url_post_datasets)
for filename in files_dataset:
    files = {'file': open(filename, 'rb')} 
    response_post_datasets = requests.post(url_post_datasets, files=files, headers=headers)
    if response_post_datasets.status_code == 200:
        print(f'upload {filename}: succes')
    else:
        print(f'upload {filename}: failed')

df_datasets_task = pd.Series(response_post_datasets.json() ).to_frame().T
df_datasets_task

http://34.116.237.119/task/32/datasets
upload ./drive/MyDrive/hydamo_validatietool/wrij_winterswijk_eo/data/HydroObject.gpkg: succes
upload ./drive/MyDrive/hydamo_validatietool/wrij_winterswijk_eo/data/Stuw.gpkg: succes
upload ./drive/MyDrive/hydamo_validatietool/wrij_winterswijk_eo/data/DuikerSifonHevel.gpkg: succes
upload ./drive/MyDrive/hydamo_validatietool/wrij_winterswijk_eo/data/AfvoergebiedAanvoergebied.gpkg: succes

   id              name  ... validationRules                         owner
0  32  Daniel_wrsl_test  ...           False  zWE2MEc2sIf4QU5L9zJrgWzvIXi2

[1 rows x 6 columns]

Als het goed is krijg je teruggekoppeld dat het uploaden van elk bestand gelukt is en we zien nu bij onze taak dat we `4` datasets hebben toegekend (`numberOfDatasets` is `4`).

### Upload validatieregels met task-id

Nu we de data hebben gaan we ook de validatieregels toekennen aan de taak.

In [ ]:
# upload validatieregels met task-id
url_post_validationrules = f'{server}/task/{task_id}/validationrules'
files = {'file': open(filename_validationrules, 'rb')}

print(url_post_validationrules)
response_post_validationrules = requests.post(url_post_validationrules, files=files, headers=headers)
if response_post_validationrules.status_code == 200:
    print(f'upload {filename_validationrules}: succes')
else:
    print(f'upload {filename_validationrules}: failed')
    
df_validationrules_task = pd.Series(response_post_validationrules.json()).to_frame().T
df_validationrules_task

http://34.116.237.119/task/32/validationrules
upload ./drive/MyDrive/hydamo_validatietool/wrij_winterswijk_eo/ValidationRules.json: succes

   id              name  ... validationRules                         owner
0  32  Daniel_wrsl_test  ...            True  zWE2MEc2sIf4QU5L9zJrgWzvIXi2

[1 rows x 6 columns]

Wanneer de bovenstaande code succesvol is uitgevoerd zien we dat de `validationRules` nu van `False` naar `True` is gesprongen.

Ook is de status veranderd van `new` naar `ready_to_validate`. 

Laten we dat maar doen dan!

---

### Voer validatie taak uit met task-id

In [ ]:
# voer validatie taak uit met task-id
output_format = "geopackage,geojson,csv"
url_post_execute = f'{server}/task/{task_id}/execute/{output_format}'

print(url_post_execute)
response_post_execute = requests.post(url_post_execute, headers=headers)
if response_post_execute.status_code == 200:
    print(f'execute started: succes')
else:
    print(f'execute started: failed')
df_execute_task = pd.Series(response_post_execute.json()).to_frame().T
df_execute_task

http://34.116.237.119/task/32/execute/geopackage,geojson,csv
execute started: succes

               detail
0  Validation started

### Overzicht van een enkele taak

In onderstaand blok vragen we de status op van de taak, die we zien bij `status`. Alleen wanneer de status op `finished` staat heeft het zin verder te gaan.

In [ ]:
# overzicht van enkele taak
url_get_task = f'{server}/task/{task_id}'

print(url_get_task)
response_get_task = requests.get(url_get_task, headers=headers)
if response_get_task.status_code == 200:
    print(f'get task: succes')
else:
    print(f'get task: failed')

df_get_task = pd.Series(response_get_task.json()).to_frame().T
df_get_task

http://34.116.237.119/task/32
get task: succes

   id              name  ... validationRules                         owner
0  32  Daniel_wrsl_test  ...            True  zWE2MEc2sIf4QU5L9zJrgWzvIXi2

[1 rows x 6 columns]

## Download metadata van het resultaat van de taak

Weet je zeker dat de status in bovenstaand blok op `finished` staat? In dat geval kun je de metadata opvragen. Wanneer `success` op `True` staat betekent dat tevens dat de validatie-module je dataset en validatieregels succesvol heeft kunnen verwerken. Verder nog wat informatie:
- `dataset_layers`: het aantal lagen dat in de datasets zijn aangetroffen
- `syntax_errors`: een overzicht van syntax fouten
- `warnings`: algemene waarschuwingen die de validatie-module heeft gelogd tijdens het valideren. Denk aan niet expliciet uitgesloten objecten die wél zijn uitgesloten tijdens een validatieregel omdat de input voor de validatieregel NULL was.
- `errors`: runtime-fouten die de validatie-module heeft gelogd tijdens het valideren. Denk bijvoorbeeld aan een niet uitgevoerde validatieregel, omdat er ergens in de module een kritische fout is opgetreden.

In [ ]:
# download metadata van het resultaat van de taak
url_get_result_metadata = f'{server}/task/{task_id}/result/metadata'

print(url_get_result_metadata)
response_get_result_metadata = requests.get(url_get_result_metadata, headers=headers)
if response_get_result_metadata.status_code == 200:
    print(f'get task result metadata: succes')
else:
    print(f'get task result metadata: failed')

df_get_result_metadata = pd.Series(response_get_result_metadata.json()).to_frame().T
df_get_result_metadata.to_csv(os.path.join(filepath_output,'metadata.csv'))
df_get_result_metadata

http://34.116.237.119/task/32/result/metadata
get task result metadata: succes

  api_version  ...                                           warnings
0       0.3.0  ...  [21 objecten niet meegenomen in general_rule o...

[1 rows x 11 columns]

### Validatie waarschuwingen

Als er waarschuwingen zijn gegeven kunnen we die hieronder tonen.

In [ ]:
# warnings
df_get_warnings=pd.DataFrame(df_get_result_metadata['warnings'][0]['warnings'])
#df_get_errors.to_csv(os.path.join(filepath_output,'validation_warnings.csv'))
df_get_warnings

NameError: ignored

### Dataset layers

We kunnen de lagen opvragen die zijn aangetroffen in de datasets.

In [ ]:
# dataset_layers
df_get_result_metadata['dataset_layers'][0]

['Stuw', 'DuikerSifonHevel', 'HydroObject', 'AfvoergebiedAanvoergebied']

## Download resultaten in CSV

De werkelijke validatieresultaten kunnen we opvragen per object_laag en per object. Deze resultaten kunnen we als CSV opslaan op de Google Drive.

In [ ]:
# download metadata van het resultaat van de taak
# object name is defined in ValidationRules.json
csv_file = 'Stuw.csv'  
url_get_result_csv = f'{server}/task/{task_id}/result/{csv_file}'
response_get_result_csv = requests.get(url_get_result_csv, headers=headers)
if response_get_result_csv.status_code == 200:
    print(f'get task result csv: succes')
else:
    print(f'get task result csv: failed')

data_result_csv = response_get_result_csv.content
if data_result_csv == b'null':
    print(f'request succesfull, but no content')
df_result_csv = pd.read_csv(io.StringIO(data_result_csv.decode('utf8')))
df_result_csv.to_csv(os.path.join(filepath_output,'result_csv.csv'))
df_result_csv

get task result csv: succes

           code  ...  validate_002_op_watergang
0    ST54650129  ...                       True
1    ST54250014  ...                       True
2    ST74210153  ...                       True
3    ST54360063  ...                       True
4    ST80380139  ...                       True
..          ...  ...                        ...
390  ST54630046  ...                       True
391  ST54250036  ...                       True
392  ST54650045  ...                       True
393  ST80340067  ...                       True
394  ST80440001  ...                       True

[395 rows x 20 columns]

## Download resultaten in GeoJSON

De resultaten kunnen we ook downloaden als GeoJSON

In [ ]:
# download metadata van het resultaat van de taak
# object name is defined in ValidationRules.json
geojson_file = 'Stuw.geojson'  
url_get_result_geojson = f'{server}/task/{task_id}/result/{geojson_file}'
response_get_result_geojson = requests.get(url_get_result_geojson, headers=headers)
if response_get_result_geojson.status_code == 200:
    print(f'get task result geojson: succes')
else:
    print(f'get task result geojson: failed')

data_result_geojson = response_get_result_geojson.content
if data_result_geojson == b'null':
    print(f'request succesfull, but no content')
#df_result_csv = pd.read_csv(io.StringIO(data_result_csv.decode('utf8')))
#df_result_csv.to_csv(os.path.join(filepath_output,'result_csv.csv'))
#df_result_csv

In [ ]:
print(json.loads(data_result_geojson.decode('utf8')))

In [ ]:
gpd.GeoDataFrame.from_file(io.StringIO(data_result_geojson.decode('utf8')), crs='epsg:28992').columns

In [ ]:
print(data_result_geojson.decode('utf8'))

#### fouttypen

De volgende fouttypen worden gegenereerd bij de Syntax controle:
1. invalid_dtype_error: niet het juiste data-type en niet te converteren
2. invalid_dtype: niet het juiste data-type, maar wel te converteren
3. non_unique_values: niet unieke waarde
4. missing_values: missende waarde of 98,99
5. fill_values: een door HWH gespecificeerde opvulwaarde
6. non_domain_values: een waarde die niet bij het opgegeven keuzedomein valt
7. invalid_geometry: een niet valide geometrie of een geometrie van een onjuist type

### download resultaat als geopackage

In [ ]:
# download metadata van het resultaat van de taak
gpkg_file = 'geopackage'
url_get_result_gpkg = f'{server}/task/{task_id}/result/{gpkg_file}'
print(url_get_result_gpkg)
response_get_result_gpkg = requests.get(url_get_result_gpkg, headers=headers)
if response_get_result_gpkg.status_code == 200:
    print(f'get task result gpkg: succes')
else:
    print(f'get task result gpkg: failed')

data_result_gpkg = response_get_result_gpkg.content

with open(os.path.join(filepath_output,'result.gpkg'), 'wb') as f:
        f.write(data_result_gpkg)

if data_result_gpkg == b'null':
    print(f'request succesfull, but no content')
else:
    with fiona.BytesCollection(data_result_gpkg, layer="Stuw") as f:
        gdf_result_gpkg = gpd.GeoDataFrame.from_features(f, crs='epsg:28992')
        
gdf_result_gpkg

### show result on map

In [ ]:
# show result on map
gdf_result_4326 = gdf_result_gpkg.to_crs(epsg=4326)
gdf_afvoer_aanvoer = gpd.read_file(os.path.join(filepath_dataset, 'AfvoergebiedAanvoergebied.gpkg'))
gdf_base_4326 = gdf_afvoer_aanvoer.to_crs(epsg=4326)

base = alt.Chart(gdf_base_4326).mark_geoshape(fill='white', stroke='gray', tooltip={"content": "data"})
poi = alt.Chart(gdf_result_4326).mark_circle(tooltip={"content": "data"}, size=400).encode(
    latitude='geometry.coordinates[1]:Q',
    longitude='geometry.coordinates[0]:Q',
    color=alt.Color("syntax_oordeel:N", scale=alt.Scale(domain=["True", "False"], range=['green', 'red']))
)
base + poi